[Unit]
Description=Britney
Wants=britney.timer
After=network.target nginx.service

[Service]
Type=simple
User=lugito
Group=lugito
WorkingDirectory=/srv/lubuntu-ci/repos/ci-tools
ExecStart=/srv/lubuntu-ci/repos/ci-tools/fetch-indexes -c /srv/lubuntu-ci/repos/ci-tools/configs/fetch-indexes.yaml
